name: "Web App Build/Test"
description: "Sets up node and runs npm install, lint and build"

inputs:
  node-version:
    required: true
    default: "22.x"
  working-directory:
    required: true
    default: "./web-app"
runs:
  using: "composite"
  steps:
    - name: Set up Node.js version
      uses: actions/setup-node@v4
      with:
        node-version: ${{ inputs.node-version }}
        cache: "npm"
        cache-dependency-path: "${{ inputs.working-directory }}"
    - name: npm ci, lint, build
      working-directory: "${{ inputs.working-directory }}"
      shell: bash
      run: |
        npm ci
        npm run lint
        npm run build:dev
