name: "Azure Login"
description: "Wrapper for azure/login@v1"

inputs:
  service_principal_id:
    required: true
    default: "a815ac51-ea5e-4b31-aa3c-eefb9c87403b"
  service_principal_secret:
    required: true
  subcription_id:
    required: true
    default: "59b7bd22-db8a-4752-840e-6b4507317ff0"
  tenant_id:
    required: true
    default: "87e276c0-7d18-4d86-948a-ba5eea990211"

env:
  azure_creds: '{"clientId":"${{ inputs.service_principal_id }}","clientSecret":"${{ inputs.service_principal_secret }}","subscriptionId":"${{ inputs.subcription_id }}","tenantId":"${{ inputs.tenant_id }}"}'

runs:
  using: "composite"
  steps:
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ env.azure_creds }}
        enable-AzPSSession: true
