name: "Web App CI / CD"

on:
  pull_request: {}
  push:
    branches: [main]
    paths: [web-app/**]
  workflow_dispatch:
    inputs:
      What-If:
        description: "What-If: Set to 'false' if you want to deploy"
        required: true
        default: "true"

env:
  working_directory: ./web-app
  azure_client_id: "a815ac51-ea5e-4b31-aa3c-eefb9c87403b"
  azure_subscription_id: "7100b295-05bb-4ecf-a59b-246bd1f17d9a"
  azure_tenant_id: "87e276c0-7d18-4d86-948a-ba5eea990211"

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  build:
    name: "Web App Build"
    if: github.event_name == 'pull_request' || ( github.event_name == 'workflow_dispatch' && github.event.inputs.What-If == 'true' )
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Build and test
        uses: ./.github/workflows/composite/web-app-build-test
      - name: git push lint fixes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git diff-index --quiet HEAD || git commit -am "Autofix ESLint errors"
          git push
      - name: Prepare dist
        env:
          NODE_ENV: "production"
        working-directory: ${{ env.working_directory }}
        shell: bash
        run: ./scripts/make_dist.sh
  build-and-deploy:
    name: "Web App Build & Deploy"
    if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || ( github.event_name == 'workflow_dispatch' && github.event.inputs.What-If == 'false' ))
    runs-on: ubuntu-latest
    environment:
      name: "production"
      url: ${{ steps.azure-webapps-deploy.outputs.webapp-url }}
    concurrency: production-deploy
    env:
      slot_name: "Production"
      app_name: "announcement-drafter"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          # NOTE: set the fetch-depth to be sure you retrieve all commits to look for the semver commit message
          fetch-depth: "0"
      - name: Build and test
        uses: ./.github/workflows/composite/web-app-build-test
      - name: Prepare dist
        env:
          NODE_ENV: "production"
        working-directory: ${{ env.working_directory }}
        shell: bash
        run: ./scripts/make_dist.sh
      - name: Azure Login
        uses: ./.github/workflows/composite/azure-login
        with:
          client_id: ${{ env.azure_client_id }}
          subscription_id: ${{ env.azure_subscription_id }}
          tenant_id: ${{ env.azure_tenant_id }}
      - name: "Deploy to Azure Web App"
        id: azure-webapps-deploy
        uses: azure/webapps-deploy@v2
        env:
          NODE_ENV: "production"
        with:
          app-name: ${{ env.app_name }}
          slot-name: ${{ env.slot_name }}
          package: "${{ env.working_directory }}/dist"
