name: "Web App CI / CD"

on:
  pull_request:
    paths: [web-app/src/**]
  push:
    branches: [main]
    paths: [web-app/src/**]
  workflow_dispatch:
    inputs:
      What-If:
        description: "What-If: Set to 'false' if you want to deploy"
        required: true
        default: "true"

env:
  working_directory: ./web-app

jobs:
  build:
    name: "Web App Build"
    if: github.event_name == 'pull_request' || ( github.event_name == 'workflow_dispatch' && github.event.inputs.What-If == 'true' )
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Build and test
        uses: ./.github/workflows/composite/web-app-build-test
  build-and-deploy:
    name: "Web App Build & Deploy"
    if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || ( github.event_name == 'workflow_dispatch' && github.event.inputs.What-If == 'false' ))
    runs-on: ubuntu-latest
    environment:
      name: "production"
      url: ${{ steps.azure-webapps-deploy.outputs.webapp-url }}
    concurrency: production-deploy
    env:
      slot_name: "Production"
      app_name: "announcement-drafter"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Build and test
        uses: ./.github/workflows/composite/web-app-build-test
      - name: Prepare dist
        env:
          NODE_ENV: "production"
        working-directory: ${{ env.working_directory }}
        shell: bash
        run: ./scripts/make_dist.sh
      - name: "Deploy to Azure Web App"
        id: azure-webapps-deploy
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.app_name }}
          slot-name: ${{ env.slot_name }}
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}
          package: "${{ env.working_directory }}/dist"
      - name: Create Release
        id: create-releaes
        uses: ./.github/workflows/composite/web-app-create-release
        with:
          github_token: "${{ secrets.ACTIONS_RELEASE_PAT }}"
