name: "Azure Resource Group Deployment"
description: "Runs New-AzResourceGroupDeployment"

inputs:
  resource_group_name:
    required: true
    default: "centralus"
  template_file:
    required: true
  parameter_file:
    required: false
  what_if:
    required: true
    default: "true"
runs:
  using: "composite"
  steps:
    - name: App Service Resource Group Deploy
      shell: pwsh
      run: |
        $whatIf = "false" -ne "${{ inputs.what_if }}"
        New-AzResourceGroupDeployment `
          -ResourceGroupName "${{ inputs.resource_group_name }}" `
          -TemplateFile "${{ inputs.template_file }}" `
          -TemplateParameterFile "${{ inputs.parameter_file }}" `
          -WhatIf:$whatIf
